@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --blue: #1a3873;
    --red: #98002E;
    --light-gray: #F5F5F5;
    --dark-gray:  #333333;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}